*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
  display: block;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  font: inherit;
}

ul,
li {
  list-style: none;
}

h1,
h2,
h3 {
  color: var(--white-clr);
  letter-spacing: 0.5px;
}

:root {
  --main-bk-clr: hsl(0, 0%, 6%);
  --progressbar-clr: hsl(47, 95%, 56%);
  --start-stop-clr: hsl(47, 95%, 56%);
  --artiest-clr: hsl(0, 0%, 64%);

  --default-text-clr: hsl(0, 0%, 100%);

  --white-clr: hsl(0, 0%, 100%);
  --black-clr: hsl(0, 0%, 0%);

  /* MARGIN */
  --main-mg-top: 2.25rem;

  /* PADDING */
  --main__cont-padding-inline: 1.25rem;

  /* GAP */
  --main__cont-gap: 4.125rem;

  /* FONT */
  --primary-text-fs: 1.55rem;
}

body {
  min-height: 100dvh;
  isolation: isolate;
  position: relative;
  font-family: "Roboto", sans-serif;
  background-color: var(--main-bk-clr);
  color: var(--default-text-clr);

  display: grid;
  place-items: start center;
}

.primary--title {
  font-size: var(--primary-text-fs);
}

.flex {
  display: flex;
  gap: 1rem;
}

.grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}

/* MAIN */
.main {
  width: 100%;
  margin-top: var(--main-mg-top);

  /* GAP */
  --status_box-gap: 0.25rem;
  --wrapper-gap: 2.75rem;
  --about-gap: 2.5rem;
  --about_div-gap: 0.5rem;
  --playlist_box-gap: 0rem;
  --lists-gap: 1.25rem;
  --detail-gap: 0.25rem;
  --para-gap: 0.5rem;

  /* FONT-SIZE */
  --status-fs: 1.1rem;
  --down_arr-fs: 1.75rem;
  --artiest-fs: 0.95rem;
  --close-fs: 1.75rem;
  --list_songname-fs: 1.1rem;
  --para-fs: 0.85rem;
  --list_play-fs: 2.5rem;

  /* IMAGE */
  --profile-img-width: 15.5rem;

  /* PADDING */
  --header-padding: 1rem 0.85rem;
  --list-padding: 1rem 0.85rem;
  --close-padding-right: 0.25rem;

  /* MARGIN */

  /* HEIGHT */
  --lists-height: 24rem;

  /* WIDTH */
  --list_profile-width: 3.5rem;
}

.main__container {
  padding-inline: var(--main__cont-padding-inline);
  gap: var(--main__cont-gap);
}

.status__box {
  justify-items: center;
  gap: var(--status_box-gap);
}

.status {
  font-size: var(--status-fs);
  display: block;
}

.down_arrow {
  font-size: var(--down_arr-fs);
}

.wrapper {
  gap: var(--wrapper-gap);
}

.overview {
}

.about {
  text-align: center;
  gap: var(--about-gap);
}

.about > div {
  gap: var(--about_div-gap);
}

#profile__img {
  margin-inline: auto;
  width: var(--profile-img-width);
  aspect-ratio: 1/1;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: 0px 3px 30px 0px hsla(45, 63%, 50%, 0.75);
}

.artiest {
  color: var(--artiest-clr);
  font-size: var(--artiest-fs);
}
/* --------------------- */

/* CONTROLS */
.controls {
  /* GAP */
  --progress_box-gap: 0.75rem;
  --start_stop__box-gap: 1.5rem;

  /* PADDING */
  --start_stop-padding: 0.5rem;

  /* MARGIN */

  /* FONT-SIZE */
  --duration_span-fs: 0.9rem;
  --icon-fs: 2rem;
  --icon_2-fs: 2.75rem;

  --progressbar-height: 0.25rem;
  --progressbar-border-radius: 0.25rem;
}

.progress__box {
  gap: var(--progress_box-gap);
}

.progressArea {
}

.progressbar {
  background-color: var(--progressbar-clr);
  height: var(--progressbar-height);
  border-radius: var(--progressbar-border-radius);
}

.duration {
  justify-content: space-between;
}

.duration > span {
  font-size: var(--duration_span-fs);
}

.current__time {
}

.total__duration {
}

.button__box {
  justify-content: space-between;
}

.btn {
}

.icon {
  color: var(--white-clr);
  font-size: var(--icon-fs);
}

.icon_2 {
  font-size: var(--icon_2-fs);
}

.start_stop__box {
  gap: var(--start_stop__box-gap);
}

#loop {
}

#back {
}

#start_stop {
  background-color: var(--start-stop-clr);
  padding: var(--start_stop-padding);
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 2px 8px 0px hsl(46.76deg 94.67% 55.88% / 45%);
}

#forward {
}

#palylist {
}
/* --------------------- */

/* LISTs */
.playlist__box {
  width: 100%;
  padding: var(--playlist_box-padding);
  background-color: #272727;
  gap: var(--playlist_box-gap);

  position: fixed;
  bottom: 0;
  left: 0;
  transform: translateY(100%);
  transition: transform 0.3s;
}

.header {
  justify-content: space-between;
  padding: var(--header-padding);
  border-bottom: 2px solid #575757;
  box-shadow: 0px 3px 12px 2px hsl(0deg 0% 34.12% / 40%);
}

.close {
  font-size: var(--close-fs);
  padding-right: var(--close-padding-right);
}

.lists {
  gap: var(--lists-gap);
  height: var(--lists-height);
  overflow-y: scroll;
  padding: var(--list-padding);
}

.lists::-webkit-scrollbar {
  display: none;
}

.list {
  align-items: center;
}

.list__profile {
  width: var(--list_profile-width);
  aspect-ratio: 1/1;
  border-radius: 50%;
  object-fit: cover;
}

.list > div {
}

.detail {
  gap: var(--detail-gap);
}

.list_songname {
  font-size: var(--list_songname-fs);
}

.para {
  color: hsl(0, 0%, 37%);
  font-size: var(--para-fs);
  align-items: center;
  gap: var(--para-gap);
}

.list__play {
  margin-left: auto;
  font-size: var(--list_play-fs);
}
/* --------------------- */

.hide {
  display: none;
}

.playlist__box--active {
  transform: translateY(0%);
}

/* MEDIA QUERY */
@media only screen and (min-width: 500px) {
  :root {
    --primary-text-fs: 1.85rem;
  }

  .main {
    /* GAP */
    --lists-gap: 1.75rem;

    /* FONT-SIZE */
    --status-fs: 1.25rem;
    --down_arr-fs: 2rem;
    --artiest-fs: 1.1rem;

    /* PADDING */
    --header-padding: 1rem 0.85rem;
    --list-padding: 1.75rem 1.5rem;

    /* IMAGE */
    --profile-img-width: 18.5rem;
  }
}

@media only screen and (min-width: 600px) {
  .main {
    /* GAP */
    --lists-gap: 2rem;

    /* HEIGHT */
    --lists-height: 26rem;

    /* PADDING */
    --header-padding: 1rem 1.25rem 1.25rem 1.25rem;
    --list-padding: 2rem 1.75rem;
  }

  .controls {
    /* GAP */
    --start_stop__box-gap: 2rem;

    /* PADDING */

    /* FONT-SIZE */
    --icon-fs: 2.25rem;
    --icon_2-fs: 3rem;
  }
}

@media only screen and (min-width: 900px) {
  :root {
    /* MARGIN */
    --main-mg-top: 1rem;
  }

  .main {
    --lists-height: 80vh;
  }

  .status__box {
    display: none;
  }

  .overview {
    grid-template-columns: 1.25fr 1fr;
    place-items: center;
  }

  .about {
    flex: 1;
  }

  .playlist__box--status {
    display: none;
  }

  .header {
    /* background-color: #272727; */
  }

  .playlist__box {
    padding: var(--playlist_box-padding);
    background-color: var(--main-bk-clr);
    gap: var(--playlist_box-gap);

    position: static;
    transform: translate(0);
  }

  .close {
    display: none;
  }

  .controls {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #272727;
    gap: 0;

    /* FONT-SIZE */
    --icon-fs: 2rem;
    --icon_2-fs: 2.5rem;
  }

  .duration {
    padding-inline: 1.5rem;
  }

  .button__box {
    flex-direction: row-reverse;
    padding-inline: 1.5rem;
    padding-bottom: 0.75rem;
  }

  .start_stop__box {
    margin-inline: auto;
  }

  #playlist {
    display: none;
  }
}
/* --------------------- */
